<footer>
    <div class="container">
        <div class="footer-wrapper">
            <div class="pull-left">
                <p class="text-muted">2016 - Helmes Bootcamp</p>
            </div>
            <div class="pull-right">
                <p class="text-muted">&copy; Maxim Maximov</p>
            </div>
        </div>
    </div>
</footer>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/site.js"></script>