<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Maxim Maximov">
    <title>Helmes Bootcamp</title>

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/css/bootstrap.theme.min.css" rel="stylesheet"/>
    <link href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-chosen.css" rel="stylesheet"/>
    <link href="/css/site.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
