#body {
    padding: 40px 15px;
    padding-bottom: 20px;
}
.restaurants-list {

}
.control-label{
    font-size: 15px;
}
.control-label span{
    color: red;
    margin-left: 3px;
}
.reservation-list .reservation .reservation-main-info {

}
.reservation-list .reservation .reservation-main-info > div {
    padding: 0 10px;
}
.reservation-list .reservation .reservation-main-info > div:first-of-type {
    padding: 10px;
}
.reservation-list .reservation.modified .reservation-main-info .fa-pencil{
    vertical-align: middle;
    font-size: 24px!important;
    padding: 7px 0;
    color: #9E9E9E;
}
.reservation-list .reservation.modified .reservation-main-info .fa-pencil:hover{
    color: white;
}
.reservation-list .reservation.modified{
    background: #225B71!important;
}
.reservation-list .reservation.modified:hover{
    background: #31809E!important;
}
.reservation-list .reservation.canceled .reservation-main-info > div h1 a > span > span{
    color: #E8FFFF;
    font-weight: 300;
}
.reservation-list .reservation.canceled .reservation-main-info > div h1 a > span{
    color: #D9534F;
    text-decoration: line-through;
    display: block;
}
.reservation-list .reservation .reservation-main-info > div h1 {
    margin: 0;
    padding-left: 0;
    width: 100%;
}
.reservation-list .reservation .reservation-id:focus,
.reservation-list .reservation .reservation-id:hover {
    text-decoration: none;
    color: white;
}
.reservation-list .reservation .reservation-id {
    float: left;
    padding: 5px 5px;
    width: 100%;
    text-align: center;
}
.reservation-list .reservation .reservation-id span {
    font-weight: 300;
    text-shadow: 1px 0px 1px #2B3E50;
    font-size: 26px;
}
.reservation-list .reservation h1,
.restaurants-list .restaurant h1{
    display: block;
    float: left;
    padding-left: 10px;
    margin-top: -5px!important;
}
.reservation-list .reservation h1 a,
.restaurants-list .restaurant h1 a{
    color: white;
}
.reservation-list .reservation:hover {
    background: #65798C;
}
.reservation-list .reservation,
.restaurants-list .restaurant{
    position: relative;
    min-height: 40px;
    border: 1px solid #717171;
    padding: 0 15px;
}
.restaurants-list .restaurant .actions{
    position: absolute;
    top: 10px;
    right: 15px;
}
.restaurants-list .restaurant{
    padding: 10px 15px;
}
.reservation-list .reservation .reservation-box-info {
    display: block;
    width: 100%;
    height: 63px;
    background: #2B3E50;
    border: 1px solid #717171;
    min-height: 102px;
    position: relative;
    color: white;
}
.reservation-list .reservation a.reservation-box-info-restaurant:hover {
    text-decoration: none;
    background: #4E6479;
}
.reservation-list .reservation a.reservation-box-info-restaurant:focus,
.reservation-list .reservation a.reservation-box-info-restaurant:active {
    text-decoration: none;
}
.reservation-list .reservation a.reservation-box-info-restaurant:active h2{
    top: 2px;
    position: relative;
}
.reservation-list .reservation .list-group-item-heading{
    padding: 10px 0;
}
.reservation-list .reservation .reservation-box-info-restaurant{
    padding: 5px 8px 2px 8px;
}
.reservation-list .reservation .reservation-box-info-restaurant .icon{
    padding: 0;
}
.reservation-list .reservation .reservation-box-info-restaurant .restaurant-address span {
     display: block!important;
 }
.reservation-list .reservation .reservation-box-info-restaurant .restaurant-address span span,
.reservation-list .reservation .reservation-box-info-restaurant .restaurant-name h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}
.reservation-list .reservation .reservation-box-info-restaurant .restaurant-name h2{
    margin: 0;
}
.reservation-list .reservation .reservation-box-info-restaurant .restaurant-name,
.reservation-list .reservation .reservation-box-info-restaurant .icon {
    padding: 0!important;
}
.reservation-list .reservation .reservation-box-info.last {
    padding-top: 10px;
}
.reservation-list .reservation .reservation-box-info .info-block .info > span{
    vertical-align: middle;
    font-size: 18px;
    font-weight: 300;
}
.reservation-list .reservation .reservation-box-info .info-block .info{
    padding-left: 5px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
}
.reservation-list .reservation .reservation-box-info .info-block .fa{
    font-size: 24px;
    display: inline-block;
}
.reservation-list .reservation .reservation-box-info:not(.only-name) .info-block:first-of-type{
    padding-top: 6px;
}
.reservation-list .reservation .reservation-box-info.only-name{
    padding: 20px 0;
}
.reservation-list .reservation .actions td{
    width: 33.333%;
}
.reservation-list .reservation .actions td a{
    padding: 4px;
}
.reservation-list .reservation .actions td a i{
    font-size: 15px;
    vertical-align: middle;
}
.reservation-list .reservation .actions td a span{
    display: none;
}
@media (max-width: 992px) {
    .reservation-list .reservation .actions td a span {
        display: inline;
        font-size: 20px;
        padding-left: 10px;
        vertical-align: middle;
    }
    .reservation-list .reservation .actions td a i {
        font-size: 20px;
    }
}
.reservation-list .reservation .actions {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.reservation-list .reservation .actions a{
    width: 100%;
}
.reservation-list .reservation .reservation-box-info .info-block{
    text-align: center;
    padding: 10px 5px;
}
.reservation-list .reservation .actions + .info-block{
    padding-top: 5px;
}
.reservation-list .reservation .reservation-box-info .info-block:first-of-type{
    padding-bottom: 5px;
}
.reservation-list .reservation .reservation-box-info .info-block:last-of-type{
    padding-top: 5px;
}
.reservation-form .input-group-addon{
    background: #888;
}
.reservation-form .label-restaurant-id{
    padding: 0.4em 0.7em;
    border-radius: 0;
    font-weight: 300;
    font-size: 19px;
    box-shadow: 2px 2px 9px rgba(53, 53, 53, 0.28);
    background: #888;
}
footer .footer-wrapper {
    border-top: 1px solid #6B8096;
}
footer .footer-wrapper > div{
    margin-top: 5px;
}
.bootstrap-datetimepicker-widget .timepicker .separator {
    font-size: 25px;
}

.bootstrap-datetimepicker-widget .datepicker tr th,
.bootstrap-datetimepicker-widget .datepicker tr td {
    border-radius: 0;
}
.bootstrap-datetimepicker-widget .datepicker tr td.active {
    background-color: #df691a;
}
.bootstrap-datetimepicker-widget .datepicker tr th:hover,
.bootstrap-datetimepicker-widget .datepicker .picker-switch:hover,
.bootstrap-datetimepicker-widget .datepicker tr td:hover {
    background: #888!important;
}
.bootstrap-datetimepicker-widget .datepicker tr th:active{
    position: relative;
    top: 2px;
}
.bootstrap-datetimepicker-widget .timepicker tr td a span:active{
    position: relative;
    top: 4px;
}
.bootstrap-datetimepicker-widget .timepicker tr td span,
.bootstrap-datetimepicker-widget .timepicker .separator{
    font-size: 30px;
}
.bootstrap-datetimepicker-widget .timepicker tr td span {
    /*font-size: 30px;*/
}
.bootstrap-datetimepicker-widget .timepicker tr td span:hover{
    background: transparent;
    border-radius: 0;
}
.bootstrap-datetimepicker-widget{
    border: 1px solid #ccc!important;
}
.form-reservations-filter label[for="reservation-date-to"]{
    padding-left: 0
}
.form-reservations-filter label{
    font-size: 20px;
    padding: 0 7px 0 13px;
}
.form-reservations-filter .select-wrapper .chosen-container{
    width: 87%!important;
}
.form-reservations-filter .select-wrapper label{
    padding-left: 0;
}
.form-reservations-filter .select-wrapper{
    width: 49%;
}
.form-reservations-filter input[type="text"]{
    width: 150px;
}
@media (max-width: 1200px) {
    .form-reservations-filter label[for="reservations-filter"]{
        display: none;
    }
    .form-reservations-filter .select-wrapper .chosen-container{
        width: 100%!important;
    }
    .form-reservations-filter .select-wrapper {
        width: 80% !important;
    }
}

@media (max-width: 992px) {
    .form-reservations-filter .select-wrapper {
        width: 100% !important;
    }
}
@media (max-width: 768px) {
    .form-reservations-filter input,
    .form-reservations-filter .select-wrapper,
    .form-reservations-filter .select-wrapper .chosen-container{
        width: 100%!important;
    }
    .form-reservations-filter label{
        padding-left: 0;
    }
}
.jumbotron.reservations-form-holder {
    padding: 20px;
    margin-top: 15px;
}