{% for error in errors %}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>{{ error.getMessage() }}</div>
{% endfor %}
{% for success in successes %}
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>{{ success.msg }}
    </div>
    {% if success.redirect != empty %}
    <script>
        window.location.href = window.location.origin + "{{ success.redirect }}";
    </script>
    {%  endif %}
{% endfor %}