{% extends "index.twig" %}

{% block content %}
<section class="content-wrapper main-content clear-fix">
    <hgroup class="title">
        <h1>Reservation</h1>
    </hgroup>
    <div class="list-group reservation-list">
        {% include 'reservation.twig' %}
    </div>
    <div class="alert alert-danger">
        <h3>Are you sure you want to cancel this reservation?</h3>
        <fieldset>
            <form method="post" action="/reservation/cancel">
                <input type="hidden" name="id" id="id" value="{{ reservation.id }}"/>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <div class="pull-right">
                            <a href="/reservation" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to List</a>
                            <button type="submit" class="btn btn-danger">Yes</button>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</section>
{% endblock %}