{% extends "index.twig" %}

{% block content %}
    <section class="content-wrapper main-content clear-fix">
        <hgroup class="title">
            <h1>Restaurant</h1>
        </hgroup>
        <div class="well bs-component">
            <div>
                <div><strong>Name:</strong> {{ restaurant.name }}</div>
                <div><strong>Address:</strong> {{ restaurant.address }}</div>
            </div>
        </div>
        <div class="alert alert-danger">
            <h3>Are you sure you want to delete this?</h3>
            <fieldset>
                <form method="post" action="/restaurant/delete">
                    <input type="hidden" name="id" id="id" value="{{ restaurant.id }}"/>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <div class="pull-right">
                                <a href="/restaurant" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to List</a>
                                <button type="submit" class="btn btn-danger"><i class="fa fa-times"></i> Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </section>
{% endblock %}