{% extends "index.twig" %}

{% block content %}
<section class="content-wrapper main-content clear-fix">
    <hgroup class="title">
        <h1>Restaurant</h1>
    </hgroup>
    {% include 'alerts.twig' %}
    <div class="well bs-component">
        <form class="form-horizontal restaurant-form" action="/restaurant/add/" method="POST">
            <fieldset>
                <legend>Create</legend>
                <div class="form-group">
                    <div class="form-cell">
                        <label for="name" class="col-lg-2 control-label">Restaurant name<span>*</span></label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="name" name="name" value="{{ restaurantData.getProperty('name') }}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-cell">
                        <label for="address" class="col-lg-2 control-label">Restaurant address<span>*</span></label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="address" name="address" value="{{ restaurantData.getProperty('address') }}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <div class="pull-right">
                            <a href="/restaurant" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to List</a>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>
{% endblock %}