{% extends "index.twig" %}

{% block content %}
<section class="content-wrapper main-content clear-fix">
    <hgroup class="title">
        <h1>Reservation</h1>
    </hgroup>
    {% include 'alerts.twig' %}
    <div class="well bs-component">
            <form class="form-horizontal reservation-form" action="/reservation/add/" method="POST">
                <fieldset>
                    <legend>Create</legend>
                    <div class="form-group">
                        <div class="form-cell">
                            <label for="restaurant" class="col-lg-2 control-label">Restaurant<span>*</span></label>
                            <div class="col-lg-4">
                                <select name="restaurant" id="restaurant" class="form-control">
                                    <option></option>
                                    {% for restaurant in restaurants %}
                                        <option value="{{ restaurant.id }}" {{  restaurant.id == reservationData.getProperty('restaurant') ? ' selected ' : '' }}>{{ restaurant.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-cell">
                            <label for="date" class="col-lg-2 control-label">Reservation date<span>*</span></label>
                            <div class="col-lg-4">
                                <div class='input-group date' id='datepicker'>
                                    <input id="date" type='text' class="form-control" name="date" value="{{ reservationData.getProperty('date') }}" />
                                    <span class="input-group-addon btn btn-primary">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-cell">
                            <label for="time" class="col-lg-2 control-label">Reservation start time<span>*</span></label>
                            <div class="col-lg-4">
                                <div class='input-group time' id='timepicker'>
                                    <input id="time" type='text' class="form-control" name="time" value="{{ reservationData.getProperty('time') }}" />
                                    <span class="input-group-addon btn btn-primary">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-cell">
                            <label for="duration" class="col-lg-2 control-label">Reservation duration (in hours)<span>*</span></label>
                            <div class="col-lg-4">
                                <input type="number" class="form-control" id="duration" name="duration" value="{{ reservationData.getProperty('duration') }}" step="any">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-cell">
                            <label for="people-count" class="col-lg-2 control-label">People count<span>*</span></label>
                            <div class="col-lg-4">
                                <input type="number" class="form-control" id="people-count" name="people_count" value="{{ reservationData.getProperty('people_count') }}" step="1" min="1" max="50">
                            </div>
                        </div>
                        <div class="form-cell">
                            <label for="contact-name" class="col-lg-2 control-label">Contact name<span>*</span></label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="contact-name" name="contact_name" value="{{ reservationData.getProperty('contact_name') }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-cell">
                            <label class="col-lg-2 control-label">Contact phone</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="contact-name" name="contact_phone" value="{{ reservationData.getProperty('contact_phone') }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Type<span>*</span></label>
                        <div class="col-lg-10">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary{{ reservationData.getProperty('type') == 'email' ? ' active' : '' }}">
                                    <input type="radio" name="type" id="type-email" autocomplete="off" value="email"{{ reservationData.getProperty('type') == 'email' ? ' checked' : '' }}> Email
                                </label>
                                <label class="btn btn-primary{{ reservationData.getProperty('type') == 'phone' ? ' active' : '' }}">
                                    <input type="radio" name="type" id="type-phone" value="phone" autocomplete="off"{{ reservationData.getProperty('type') == 'phone' ? ' checked' : '' }}> Phone
                                </label>
                                <label class="btn btn-primary{{ reservationData.getProperty('type') == 'other' ? ' active' : '' }}">
                                    <input type="radio" name="type" id="type-other" value="other" autocomplete="off"{{ reservationData.getProperty('type') == 'other' ? ' checked' : '' }}> Other
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-cell">
                            <label for="comments" class="col-lg-2 control-label">Comments</label>
                            <div class="col-lg-10">
                                <textarea id="comments" class="form-control" name="comments" rows="5">{{ reservationData.getProperty('comments') }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <div class="pull-right">
                                <a href="/reservation" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to List</a>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Create</button>
                            </div>
                        </div>
                    </div>

                </fieldset>
        </form>
    </div>
</section>
{% endblock %}