{% extends "index.twig" %}

{% block content %}
<section class="content-wrapper main-content clear-fix">
    <hgroup class="title">
        <h1>Reservations</h1>
        <h2>{{ filter.getFilterName(reservations|length) }}</h2>
    </hgroup>
    {% include 'alerts.twig' %}
    <div class="row">
        <div class="col-md-12">
            <a href="/reservation/create" class="btn btn-lg btn-success">Create New</a>
        </div>
    </div>
    <div class="jumbotron reservations-form-holder">
        <div class="row">
            <div class="col-md-12">
                {% include 'reservationsFilter.twig' %}
            </div>
        </div>
    </div>
    <div class="list-group reservation-list">
        {% for reservation in reservations %}
            {% include 'reservation.twig' %}
        {% endfor %}
    </div>

</section>
{% endblock %}