{% extends "index.twig" %}

{% block content %}
<section class="content-wrapper main-content clear-fix">
    <hgroup class="title">
        <h1>Reservation</h1>
    </hgroup>
    {% include 'alerts.twig' %}
    <div class="well well-holder">
        <form class="form-horizontal reservation-form">
        <fieldset>
            <legend>Details<span class="label label-restaurant-id pull-right">Reservation <span>#{{ reservation.id }}</span></span></legend>
            <div class="form-group">
                <div class="form-cell">
                    <label for="date" class="col-lg-2 control-label">Reservation date</label>
                    <div class="col-lg-4">
                        <div class="form-control">{{ reservation.getFormattedDate() }}</div>
                    </div>
                </div>
                <div class="form-cell">
                    <label for="restaurant" class="col-lg-2 control-label">Restaurant name</label>
                    <div class="col-lg-4">
                        <div class="form-control">{{ reservation.restaurant.getName() }}</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-cell">
                    <label for="start-date" class="col-lg-2 control-label">Reservation start time</label>
                    <div class="col-lg-4">
                        <div class="form-control">{{ reservation.getFormattedTime() }}</div>
                    </div>
                </div>
                <div class="form-cell">
                    <label for="duration" class="col-lg-2 control-label">Reservation duration</label>
                    <div class="col-lg-4">
                        <div class="form-control">{{ reservation.duration }} h.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-cell">
                    <label for="people-count" class="col-lg-2 control-label">People count</label>
                    <div class="col-lg-4">
                        <div class="form-control">{{ reservation.getPeopleCount() }}</div>
                    </div>
                </div>
                <div class="form-cell">
                    <label for="contact-name" class="col-lg-2 control-label">Contact name</label>
                    <div class="col-lg-4">
                        <div class="form-control">{{ reservation.getContactName() }}</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-cell">
                    <label class="col-lg-2 control-label">Type</label>
                    <div class="col-lg-4">
                        <div class="form-control">{{ reservation.getType() }}</div>
                    </div>
                </div>
                <div class="form-cell">
                    <label class="col-lg-2 control-label">Contact phone</label>
                    <div class="col-lg-4">
                        <div class="form-control">{{ reservation.getContactPhone() }}</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-cell">
                    <label class="col-lg-2 control-label">Creation time</label>
                    <div class="col-lg-4">
                        <div class="form-control">{{ reservation.getCreateTime().format("d.m.Y H:i") }}</div>
                    </div>
                </div>
            </div>
            {% if reservation.comments %}
                <div class="form-group">
                    <div class="form-cell">
                        <label for="comments" class="col-lg-2 control-label">Comments</label>
                        <div class="col-lg-10">
                            <div class="form-control">{{ reservation.comments }}</div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </fieldset>
        </form>
    </div>
    <div class="btn-group actions pull-right" role="group" aria-label="actions">
        <a href="/reservation" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to List</a>
        <a href="/reservation/edit/{{ reservation.id }}" class="btn btn-success"><i class="fa fa-pencil"></i> Edit</a>
        <a href="/reservation/delete/{{ reservation.id }}" class="btn btn-danger"><i class="fa fa-times"></i> Delete</a>
    </div>
</section>
{% endblock %}