<div class="list-group-item reservation{% if reservation.hasStatus('CANCELED') %} canceled{% endif %}{% if reservation.hasStatus('MODIFIED') %} modified{% endif %}">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2">
                    <div class="row">
                        <a href="/reservation/details/{{ reservation.id }}" class="reservation-id bg-primary">
                            <span>#{{ reservation.id }}</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-10 reservation-main-info">
                    <div class="row">
                        <h1>
                            <a href="/reservation/details/{{ reservation.id }}">
                                <span>
                                    <span>{{  reservation.getFormattedDate() }} {{ reservation.getFormattedTime() }}</span>
                                </span>
                            </a>
                            {% if reservation.hasStatus('MODIFIED') %}
                                <i class="fa fa-pencil pull-right" data-toggle="tooltip" data-placement="top" title="Edited"></i>
                            {% endif %}
                        </h1>
                    </div>
                    {% if(reservation.comments is not empty) %}
                    <div class="row">
                        <div>{{ reservation.comments }}</div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <a class="reservation-box-info reservation-box-info-restaurant" href="/restaurant/details/{{ reservation.getRestaurant().id }}">
                    <div class="info-block icon">
                        <i class="fa fa-map-marker" style="color: #D9534F;"></i>
                    </div>
                    <div class="info-block restaurant-name">
                        <h2>{{ reservation.getRestaurant().getName() }}</h2>
                    </div>
                    <div class="info-block restaurant-address">
                                    <span class="info">
                                        <span>{{ reservation.getRestaurant().getAddress() }}</span>
                                    </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="reservation-box-info">
                    <div class="info-block">
                        <i class="fa fa-clock-o"></i>
                        <span class="info">
                            <span>{{ reservation.getDuration() }} h.</span>
                        </span>
                    </div>
                    <div class="info-block">
                        <i class="fa fa-users"></i><span class="info">
                            <span>{{ reservation.getPeopleCount() }} people</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="reservation-box-info reservation-box-info-contact{% if(reservation.getContactPhone() is empty) %} only-name{% endif %}">
                    <div class="info-block">
                        <i class="fa fa-user"></i>
                        <span class="info">
                            <span>{{ reservation.getContactName() }}</span>
                        </span>
                    </div>
                    {% if(reservation.getContactPhone() is not empty) %}
                        <div class="info-block">
                            <i class="fa fa-phone"></i>
                            <span class="info">
                                <span>{{ reservation.getContactPhone() }}</span>
                            </span>
                        </div>
                    {% endif %}
                    <table class="actions" role="group" aria-label="actions">
                        <tr>
                            <td>
                                <a href="/reservation/edit/{{ reservation.id }}" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i><span>Edit</span></a>
                            </td>
                            <td>
                                <a href="/reservation/details/{{ reservation.id }}" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-info"></i><span>Details</span></a>
                            </td>
                            {% if not reservation.hasStatus('CANCELED') %}
                            <td>
                                <a href="/reservation/cancel/{{ reservation.id }}" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Cancel"><i class="fa fa-times"></i><span>Cancel</span></a>
                            </td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>