<form class="form-inline form-reservations-filter" action="/reservation" method="POST">
    <div class="form-group pull-left select-wrapper">
        <label for="reservations-filter">Filter:</label>
        <select id="reservations-filter" data-placeholder="Filter reservations" name="filter[]" multiple class="chosen-select form-control input-lg" tabindex="1">
            <option value=""></option>
            {% for filter in filter.getFilters() %}
                <option value="{{ filter.value }}"{% if filter.selected %} selected{% endif %}>{{ filter.option }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group pull">
        <label for="reservations-date-from">From:</label>
        <input id="reservations-date-from" name="date_from" class="form-control input-lg" type="text" tabindex="2" value="{{ filter.getProperty('date_from') }}" data-min="{{ filter.getProperty('min_date_from') }}" data-max="{{ filter.getProperty('min_date_to') }}">
    </div>
    <div class="form-group pull">
        <label for="reservations-date-to">To:</label>
        <input id="reservations-date-to" name="date_to" class="form-control input-lg" type="text" tabindex="3" value="{{ filter.getProperty('date_to') }}" data-min="{{ filter.getProperty('min_date_from') }}" data-max="{{ filter.getProperty('min_date_to') }}">
    </div>
    <div class="form-group pull-right">
        <button class="btn btn-primary btn-lg" type="submit" tabindex="4"><i class="fa fa-filter"></i><span>Filter</span></button>
    </div>
</form>