{% extends "index.twig" %}

{% block content %}
<section class="content-wrapper main-content clear-fix">
    <hgroup class="title">
        <h1>Restaurants</h1>
        <h2>List of restaurants</h2>
    </hgroup>
    <p>
        <a href="/restaurant/create" class="btn btn-lg btn-success">Create New</a>
    </p>
    <div class="list-group restaurants-list">
        {% for restaurant in restaurants %}
            <div class="list-group-item restaurant">
                <h4 class="list-group-item-heading">{{ restaurant.name }}</h4>
                <p class="list-group-item-text">{{ restaurant.address }}</p>
                <div class="btn-group actions" role="group" aria-label="actions">
                    <a href="/restaurant/edit/{{ restaurant.id }}" class="btn btn-sm btn-success"><i class="fa fa-pencil"></i> Edit</a>
                    <a href="/restaurant/details/{{ restaurant.id }}" class="btn btn-sm btn-info"><i class="fa fa-info"></i> Details</a>
                    <a href="/restaurant/delete/{{ restaurant.id }}" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>

</section>
{% endblock %}