{% extends "index.twig" %}

{% block content %}
<section class="content-wrapper main-content clear-fix">
    <hgroup class="title">
        <h1>Restaurant</h1>
        <h2>{{ restaurant.getName() }}</h2>
    </hgroup>
    {% include 'alerts.twig' %}
    <div class="well bs-component">
        <p>
            <strong>Address:</strong> {{ restaurant.getAddress() }}
        </p>
    </div>
    <div class="btn-group actions pull-right" role="group" aria-label="actions">
        <a href="/restaurant" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to List</a>
        <a href="/restaurant/edit/{{ restaurant.id }}" class="btn btn-success"><i class="fa fa-pencil"></i> Edit</a>
    </div>
</section>
{% endblock %}